<div style="background: black;">
  <div class="container contImg">
    <div class="textImg">
      <h1 style="font-weight: bold;font-size: 90px;text-shadow:0px 0px 7px rgba(0,0,0,0.65);">PREGUNTAS</h1>
      <h1 style="font-size: 40px;text-shadow:0px 0px 7px rgba(0,0,0,0.65);">Frecuentes</h1>
    </div>
  </div>
  <div class="container contInfo">
    <div class="row">
      <div class="cont-qst">
        <div id="card-336888" style="margin: auto;">
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-1">
                1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-1" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
                <table class="table table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th>Lorem</th>
                      <th>Lorem impus, dolor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Lorem I</td>
                      <td>Lorem impus, dolor</td>
                    </tr>
                    <tr>
                      <td>Lorem II</td>
                      <td>Lorem impus, dolor</td>
                    </tr>
                    <tr>
                      <td>Lorem III</td>
                      <td>Lorem impus, dolor</td>
                    </tr>
                    <tr>
                      <td>Lorem IV</td>
                      <td>Lorem impus, dolor</td>
                    </tr>
                    <tr>
                      <td>Lorem V</td>
                      <td>Lorem impus, dolor</td>
                    </tr>
                  </tbody>
                </table>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-2">
                2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-2" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-3">
                3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-3" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-4">
                4. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-4" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-5">
                5. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-5" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-6">
                6. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-6" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-7">
                7. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-7" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores, ipsa
                  expedita, quae sit cum nesciunt.
                </p>
                <h5>Lorem:</h5>
                <p>
                  • Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores
                </p>
                <p>
                  • Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores
                </p>
                <p>
                  • Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores
                </p>
                <h5>Lorem:</h5>
                <p>
                  • Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores
                </p>
                <p>
                  • Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores
                </p>
                <p>
                  • Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores
                </p>
                <h5>Lorem:</h5>
                <p>
                  • Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores
                </p>
                <p>
                  • Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores
                </p>
                <p>
                  • Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores
                </p>
                <h5>Lorem:</h5>
                <p>
                  • Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores
                </p>
                <p>
                  • Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores
                </p>
                <p>
                  • Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores
                </p>
                <h5>Loremr:</h5>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-8">
                8. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-8" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-9">
                9. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-9" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888"
                href="#card-10">
                10. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-10" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888"
                href="#card-11">
                11. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-11" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888"
                href="#card-12">
                12. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-12" class="collapse">
              <div class="card-body">
                <p>
                  • Lorem: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores.
                </p>
                <p>
                  • Lorem: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores.
                </p>
                <p>
                  • Lorem: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores.
                </p>
                <p>
                  • Lorem: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888"
                href="#card-13">
                13. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-13" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888"
                href="#card-14">
                14. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-14" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888"
                href="#card-15">
                15. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-15" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888"
                href="#card-16">
                16. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-16" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888"
                href="#card-17">
                17. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-17" class="collapse">
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, provident. Tempore laborum, ipsa
                  expedita, quae sit cum nesciunt, blanditiis nisi optio eum vitae neque atque accusamus vel sunt
                  quidem. Sunt.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888"
                href="#card-18">
                18. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quia quo maiores?</a>
            </div>
            <div id="card-18" class="collapse">
              <div class="card-body">
                <img src="assets/imgs/FasesSST.jpg" width="500" height="500" alt="fases sst">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>