
    <nav class="navbar navbar-expand-lg navv    " >
        <img src="assets/imgs/logo.jpg" style="width:158px;margin-left: 11px;" alt="logo zionsst">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarText">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">                
                <li class="nav-item item"(click)="modalSendClose()">
                    <a class="nav-link menues">Regístrate</a>
                </li>
                <li class="nav-item item" (click)="isLogin()">
                    <a class="nav-link menues">Iniciar sesión</a>
                </li>
            </ul>
        </div>
        <!-- <app-sing-in>
            [statusModalSend]="statusModalSend"
        </app-sing-in> -->
    </nav>
