<div style="background: black;">
    <div class="container contImg">
        <div class="textImg">
            <h1 style="font-weight: bold;font-size: 90px;text-shadow:0px 0px 7px rgba(0,0,0,0.65);">Creative</h1>
            <h1 style="font-size: 40px;text-shadow:0px 0px 7px rgba(0,0,0,0.65);">Creative maker</h1>
        </div>
    </div>

    <div class="container pt-3" style="background: white;">
        <div class="row">
            <div class="ttSGzion">
                <div class="">
                    <h3 style="color: black; font-weight: bold;">Lorem impus</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error odit sequi praesentium ipsum
                        ipsam doloribus quam nobis! Dolore ipsa quos eos magnam eius aspernatur, ratione debitis iste
                        laboriosam dicta totam!
                    </p>
                </div>

                <div class="row">
                    <div class="objList">
                        <h5 style="color: black; font-weight: bold;">Lorem ipsum dolor sit </h5>
                        <ul style="font-size:14px;">
                            <li class="list-item">Lorem ipsum dolor sit, amet consectetur.</li>
                            <li class="list-item">Lorem ipsum dolor sit, amet consecteturconsectetur.</li>
                            <li class="list-item">Lorem ipsum dolor sit, amet consecteturadipisicing elit.</li>
                            <li class="list-item">Lorem ipsum dolor sit, amet consectetur.</li>
                            <li class="list-item">Lorem ipsum dolor sit, amet consecteturconsectetur.</li>
                            <li class="list-item">Lorem ipsum dolor sit, amet consecteturadipisicing elit.</li>
                            <li class="list-item">Lorem ipsum dolor sit, amet .</li>
                        </ul>
                    </div>
                    <div class="objList">
                        <h5 style="color: black; font-weight: bold;">Lorem impus</h5>
                        <ul style="font-size:14px;">
                            <li class="list-item">Lorem ipsum dolor sit, amet consectetur.</li>
                            <li class="list-item">Lorem ipsum dolor.</li>
                            <li class="list-item">Lorem ipsum dolor consecteturadipisicing elit.</li>
                            <li class="list-item">Lorem ipsum dolor sit, amet consectetur.</li>
                            <li class="list-item">Lorem dolor sit, amet consecteturconsectetur.</li>
                            <li class="list-item">Lorem ipsum dolor sit, amet consecteturadipisicing elit.</li>
                            <li class="list-item">Lorem ipsum dolor sit, amet .</li>
                        </ul>
                    </div>
                </div>
                <hr>

                <div class="boxPDf">
                    <a href="assets/Res0312_2019.pdf">
                        <span>
                            <i class="far fa-file-pdf" style="font-size: 24px;"> </i>
                        </span>
                        <span> Descarga nuestra Resolución 0312 </span>
                    </a>
                </div>

            </div>

            <div class="col-md-4 softgray">
                <img class="justimage" alt="Bootstrap Image Preview"
                    src="../../../../assets/imgs/señalizacion001.jpg" />

                <p class="spacingtop">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis a ad culpa animi, magnam facere
                    placeat, quas cupiditate asperiores doloribus officia modi fuga fugiat velit explicabo quos ducimus
                    ipsam itaque.                    
                </p>
                <hr>
                <p>

                </p><img class="justimage" alt="Bootstrap Image Preview"
                    src="../../../../assets/imgs/señalizacion010.jpg" />

                <p class="spacingtop">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis a ad culpa animi, magnam facere
                    placeat, quas cupiditate asperiores doloribus officia modi fuga fugiat velit explicabo quos ducimus
                    ipsam itaque.
                    
                </p>
                <hr>
                <p>

                </p><img class="justimage" alt="Bootstrap Image Preview" src="./assets/imgs/señalizacion010.jpg" />
                <p class="spacingtop">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis a ad culpa animi, magnam facere
                    placeat, quas cupiditate asperiores doloribus officia modi fuga fugiat velit explicabo quos ducimus
                    ipsam itaque.
                    
                </p>
            </div>


        </div>
    </div>

</div>